<header>
  <div class="logo">
    <a href="index.html">
      <img src="assets/images/optimized/logo.png" alt="Developed by D Mac Logo">
    </a>
  </div>
  <nav>
    <a href="index.html">Home</a>
    <a href="resume.html">Resume</a>
    <a href="projects.html">Projects</a>
    <a href="blog.html">Blog</a>
  </nav>
</header>der>
  <div class="logo">
    <a href="index.html">
      <img src="assets/images/logo.PNG" alt="Developed by D Mac Logo">
    </a>
  </div>
  <nav>
    <a href="index.html">Home</a>
    <a href="resume.html">Resume</a>
    <a href="projects.html">Projects</a>
    <a href="blog.html">Blog</a>
  </nav>
</header>
